:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color-h1: #ffffff;
    --hero-color: #2F303A;
    --background-color: #F5F4FA;
    --logo-color: #000000;
    --transparent-color: rgba(255, 255, 255, 0.6);
    --border-color: #EEEEEE;
    --gradient-color: rgba(47, 48, 58, 0.4);
    --clients-color: rgb(175, 177, 184);
    --icons: rgba(255, 255, 255, 0.1);
    --animation: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-color: rgba(33, 150, 243, 0.9);
    --backdrop: rgba(0, 0, 0, 0.2);
}


body {
    color: var(--primary-text-color);
    background-color: var(--background-color-h1);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

a {
    text-decoration: none;
}




 /*Header*/

.link-connection {
    color: var(--primary-text-color);
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;
    transition: color 250ms var(--animation);
}

.contacts {
    line-height: 1.7;
    color: var(--transparent-color);
    font-style: normal;
    margin-top: 9px;
    display: inline-block;
    transition: color 250ms var(--animation);
}

 .link:hover,
 .link:focus,
 .contacts:hover,
 .contacts:focus,
 .link-connection:hover,
 .link-connection:focus {
     color: var(--accent-color);
 }

.link {
    color: var(--title-text-color);
    display: block;
    padding: 32px 3px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: color 250ms var(--animation);
}

.site-nav {
    display: flex;
    align-items: center;
}

 .connection-nav {
     display: flex;
     margin-left: auto;
 }

 .logo {
     color: var(--logo-color);
     font-family: Raleway, sans-serif;
     font-size: 26px;
     line-height: 1.2;
     letter-spacing: 0.03em;
     text-decoration: none;
     margin-right: 93px;
 }

 .ul-nav {
     display: flex;
 }

 .accent {
     color: var(--accent-color);
 }


 .section-title.visually-hidden,
 .project-title.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 .section-title {
     color: var(--title-text-color);
     font-size: 36px;
     line-height: 1.16;
     text-align: center;
     margin-top: 0;
     margin-bottom: 50px;
 }

 .box {
     margin: 0 auto;
     width: 1200px;
 }

 .container-header {
     display: flex;
     align-items: center;
     padding: 25px 215px;
     height: 80px;
     margin: 0 auto;
     width: 1600px;
 }


  .choice.current::after {
      position: absolute;
      content: "";
      background-color: var(--accent-color);
      width: 100%;
      height: 4px;
      bottom: 0;
      left: 0;
      border-radius: 2px;
      opacity: 1;
  }

  .link.current.choice {
      color: var(--accent-color);
      position: relative;
  }


 .current::after {
    position: absolute;
    content: "";
    transition: opacity 250ms var(--animation);
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    border-radius: 2px; 
    opacity: 0;
 }

 .current:hover::after,
 .current:focus::after {
     color: var(--accent-color);
     opacity: 1;
 }

 .current {
     position: relative;
 }





 /* Hero */


 .hero-title {
     color: var(--background-color-h1);
     font-weight: 900;
     font-size: 44px;
     line-height: 1.36;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     margin: 0px 452px 30px;
     padding-top: 200px;
 }

 .section-hero {
     background-color: var(--hero-color);
     text-align: center;
     max-width: 1600px;
     min-height: 600px;
     margin-left: auto;
     margin-right: auto;
     background-image: 
     linear-gradient(var(--gradient-color),
     var(--gradient-color)),
     url(../img/hero.jpg);
 }



 /* Modal */


 .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--backdrop);
    opacity: 1;
    transition: opacity 250ms var(--animation);
 }

 .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
 }

 .modal {
    position: absolute;
    width: 528px;
    height: 581px;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
    padding: 8px;
    background-color: var(--background-color-h1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.button-svg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 8px;
    margin-right: 8px;
    right: 0;
    top: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border-color:rgba(0, 0, 0, 0.1);
    background-color: var(--background-color-h1);
}

.svg-exit {
    width: 18px;
    height: 18px;
}




/* Tel and mail */


.svg-mail {
    fill: currentColor;
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.svg-tel {
    fill: currentColor;
    width: 10px;
    height: 16px;
    margin-right: 10px;
}



/* Наші переваги */

.svg-work {
    fill: currentColor;
    width: 70px;
    height: 70px;
    margin: 25px 100px;
}

.icon-astronaut,
.icon-diagram,
.icon-antenna,
.icon-clock {
    background-color: var(--background-color);
    width: 270px;
    height: 120px;
    border-radius: 4px;
}

.box.container-work {
    width: 1200px;
    height: 248px;
    margin-left: auto;
    margin-right: auto;
    margin: 94px auto;
    padding: 0 15px;
}

.flex-text:nth-child(4n) {
    margin-right: 0;
}

.work-flex {
    display: flex;
}

.flex-text {
    width: 270px;
    margin-right: 30px;
}

.work-flex {
    display: flex;
}

.flex-text {
    width: 270px;
    margin-right: 30px;
}

.work-title {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
}

.work-text {
    line-height: 1.7;
    margin-top: 0px;
    margin-bottom: 0;
}



/* Чим займаємось */

.about-flex {
    display: flex;
    justify-content: space-between;
}

.position-img {
    position: relative;
    display: flex;
    justify-content: center;
}


.title-position {
    position: absolute;
    color: var(--border-color); 
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 70px;
    opacity: 0.8;
    background-color: #2F303A;
    display: flex;
    align-items: center;
    justify-content: center;
}


.flex-img {
    position: relative;
    width: 370px;
    height: 294px;
}

.container-about,
.container-project {
    margin: 94px auto;
    padding: 0 15px;
}




/* Team */

.team-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.team-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 10px;
}

.container-team {
    padding: 0 15px;
}


.icon-link,
.icon-face,
.icon-twit,
.icon-insta {
    color:var(--clients-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: color 250ms var(--animation),
    background-color 250ms var(--animation);
}

.insta:hover,
.twit:hover,
.face:hover,
.linked:hover,
.icon-link:hover,
.icon-face:hover,
.icon-twit:hover,
.icon-insta:hover {
    color:var(--background-color-h1);
    background-color: var(--accent-color);
}

.svg {
    fill: currentColor;
    width: 22px;
    height: 22px;
    margin-left: 11px;
    margin-top: 11px;  
}


.icon-insta {
    margin-right: 10px;
    margin-left: 32px;
}

.team-flex {
    display: flex;
}

.section-team {
    background-color: var(--background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.flex-name:nth-child(4n) {
    margin-right: 0;
}

.flex-name {
    width: 270px;
    padding-bottom: 30px;
    margin-right: 30px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}




/* Clients */


.container-clients {
    width: 1200px;
    height: 372px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 94px;
}

.svg-clients {
    fill: currentColor;
    width: 106px;
    height: 60px;
}

.flex-pic {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--clients-color);
    transition: border-color 250ms var(--animation);
}

.clients {
    display: flex;
    padding: 15px 30px;
    color: var(--clients-color);
    transition: color 250ms var(--animation);
    
}

.flex-pic:hover,
.flex-pic:focus,
.clients:hover,
.clients:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.clients-flex {
    display: flex;
    justify-content: space-between;
}




/* Button */

.button.primary {
    color: var(--background-color-h1);
    background-color: var(--accent-color);
    min-width: 216px;
    height: 50px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
}

.button {
    color: var(--title-text-color);
    height: 38px;
    min-width: 67px;
    padding: 6px 22px;
    font-family: inherit;
    background-color: var(--background-color);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    transition: color 250ms var(--animation),
    background-color 250ms var(--animation),
    filter 250ms var(--animation);
}

.button:hover,
.button:focus {
    color: var(--background-color-h1);
    background-color: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button.active {
    color: var(--background-color-h1);
    background-color: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.flex-inp {
    margin-right: 8px;
    margin-bottom: 50px;
}

.botton-flex {
    display: flex;
    justify-content: center;
}

.button:active {
    box-shadow: inset 3px 3px 3px 3px hsla(0, 0%, 0%, .3);
}




/* Portfolio */


.ul-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.animation-overlay {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 
    transform 250ms var(--animation);
    transform: translateY(100%);
    background-color: var(--animation-color); 
}

.animation-img {
    position: relative;
    overflow: hidden;
}

.animation-img:hover .animation-overlay {
    opacity: 1;
    transform: translateY(0);
}

.animation-text {
    display: inline-block;
    padding: 63px 24px; 
    margin: 0; 
    width: 370px;
    height: 294px;  
    font-size: 18px;
    line-height: 1.55;
    color: var(--background-color-h1);
}

.animation-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(-50%, -50%),
    translateY(100%);
    opacity: 0;
    transition: opacity 250ms var(--animation),
    transform 250ms var(--animation);;
}

.flex-element:hover .animation-overlay {
    opacity: 1;
}


.flex-element {
    margin-bottom: 30px;
    position: relative;
    width: 370px;
    display: flex;
    justify-content: center;
    transition: box-shadow 250ms var(--animation);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--border-color);
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--border-color);
}

.flex-element:hover {
    box-shadow: 1px 4px 6px rgba(181, 73, 73, 0.16),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        0px 1px 1px rgba(0, 0, 0, 0.12);
}

.flex-element:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.ul-nav .item+.item,
.connection-nav .item+.item {
    margin-left: 50px;
}

.project-title {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 20px 24px 0px;
}

.project-name {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    margin: 0px 24px 20px;
}

.no-gap {
    display: block;
}




/* Footer */


.footerr {
    width: 1600px;
    height: 252px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--hero-color);
    display: flex;
}

.footerr .logo {
    color: var(--background-color-h1);
}

.container-footer {
    margin: 0 auto;
    width: 231px;
    margin: 60px 70px 60px 215px;
}

.conteiner-networks {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    margin-left: 70px;
}


.foot-title {
    color: var(--background-color-h1);
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0;
}

.adress {
    color: var(--background-color-h1);
    font-style: normal;
    line-height: 1.7;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.insta,
.twit,
.face,
.linked {
    color: var(--background-color-h1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--icons);
    transition: background-color 250ms var(--animation);
}

.icon-enet {
    display: flex;
}

.insta,
.face,
.twit,
.icon-twit,
.icon-face {
    margin-right: 10px;
}

.icon-link {
    margin-right: 32px;
}

